<div class="container">
    <img class="img-fluid" src="https://media.giphy.com/media/f9engJjcuExUJ2qBjZ/giphy.gif">
    <h1>Eat-Da-Burger</h1>
</div>

<div class="row">
    <div class="col-4">
        <h2>To be devoured!</h2>
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burger-block devour =false}}
            {{/unless}}
            {{/each}}

        </ul>
    </div>

    <div class = "col-4"></div>
    <div class = "col-4">
        <h2>Devoured Yum!!!!</h2>
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            {{> burger-block devour = true}}
            {{/if}}
            {{/each}}
        </ul>
    </div>

</div>

<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
    <button class = "btn btn-primary" type="submit">Cook Burger</button>
  </div>

</form>
</div>